<div class="container d-flex justify-content-between align-items-center w-80">
  <div class="card d-flex align-items-center" style="width: 18rem;">
    <img src="/assets/home/cenzor.png" class="card-img-top img" alt="...">
    <h5 class="card-title title">Angular list of prohibited words</h5>
    <div class="card-body body w-100">
      <button class="btn w-100" [routerLink]="[ '/works/cenzor' ]" routerLinkActive="active">details</button>
    </div>
  </div>
  <div class="card d-flex align-items-center" style="width: 18rem;">
    <img src="/assets/home/user-list.png" class="card-img-top img" alt="...">
    <h5 class="card-title title">Angular task list</h5>
    <div class="card-body body w-100">
      <button class="btn w-100" [routerLink]="[ '/works/userlist' ]" routerLinkActive="active">details</button>
    </div>
  </div>
  <div class="card d-flex align-items-center" style="width: 18rem;">
    <img src="/assets/home/task-list.png" class="card-img-top img" alt="...">
    <h5 class="card-title title">Angular users list</h5>
    <div class="card-body body w-100">
      <button class="btn w-100" [routerLink]="[ '/works/tasklist' ]" routerLinkActive="active">details</button>
    </div>
  </div>
</div>
